*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: #bde0fe;
}
div.header{
    text-align: center;
    font-family: cursive;
    margin-top: 1rem;
    font-size: 2rem;
    color: #d00000;
}
#container{
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    margin-right: 20rem;
    background-color: white;
    flex-shrink: 0;
}
.gridItem{
    border: 1px solid;
}
.sketchContainer{
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 2rem;
}
.buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
button{
    padding: 2rem;
    font-size: 1.7rem;
    font-family: cursive;
    border-radius: 2rem;
    background-color: #cbf3f0;

}